<section>
    <h2 class="section__title">Bienvenido a Visual Stock</h2>
    <section class="section__content">
        <p class="section__description">Una aplicación para visualizar stocks de productos.
            Presione el boton de invitados a continuación si desea ver el funcionamiento de la aplicación web,
        antes de registrarse.
        </p>
        <div class="center-button">
            <button onclick="document.getElementById('form__guests').submit()" class="button__model button__guests" tabindex="1"><span class="button__text">Invitados</span><span class="button__hide-icon icon-address-book"></span></button>
        </div>
    </section>
</section>