{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %} | Visual Stock
    </title>
    <link rel="stylesheet" id="theme">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
</head>
<body>
    <input type="checkbox" id="display_nav">
    <input type="checkbox" id="changeColorTheme">
    <input type="checkbox" id="howToUse">
    <input type="checkbox" id="contactMe">
    {% if request.user.is_authenticated and is_index %}
        <input type="checkbox" id="addStockCheck">
    {% endif %}

    <header>
        <label for="display_nav">
            <span class="icon-eye"></span>
            <div class="active-hide"><span class="icon-eye-blocked"></span></div>
        </label>
        <label for="changeColorTheme">
            <div class="active-hide"><span class="icon-contrast"></span></div>
        </label>
        {% include 'mainapp/navbar.html' %}
    </header>
    <main id="content">
        {% include 'mainapp/popup_message.html' %}
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
       <ul>
            <li>
                <label for="howToUse">
                    ¿Cómo usar?
                </label>
            </li>
            <li>
                <label for="contactMe">
                    Contacto
                </label>
                </a>
            </li>
        </ul>
        <time datetime="{% now 'Y' %}">{% now 'Y' %}</time>
    </footer>
    {% if request.user.is_authenticated and is_index %}
        <section class="modal modal__addStock">
            {% include 'mainapp/modals/modal_addStock.html' %}
        </section>
    {% endif %}
    <section class="modal modal__howToUse">
        {% include 'mainapp/modals/modal_howToUse.html' %}
    </section>
    <section class="modal modal__contactMe">
        {% include 'mainapp/modals/modal_contactMe.html' %}
    </section>
</body>
<script>
    const dark_theme = "{% static '/css/dark_mode.css' %}";
    const light_theme = "{% static '/css/light_mode.css' %}";
</script>
<script src="{% static '/js/interactive-icons.js'%}"></script>
{% block scripts %}{% endblock scripts %}
</html> 