<label for="howToUse">
    <div class="close_panel"></div>
</label>
<div class="plain_panel">
    <label for="howToUse">
        <div class="button__model modal__close-button"><div class="button__color-layer"></div><span class="button__text icon-close"></span><span class="button__hide-icon icon-close"></span></div>
    </label>
    <h2 class="section__title">¿Cómo usar?</h2>
    <div class="section__description">
        {% lorem 7 p %}
    </div>
    {% if not request.user.is_authenticated %}
        <div class="button_box">
            <div class="interactive-buttons">
                <button class="button__model button__guests"><div class="button__color-layer"><a href="#"></a></div><span class="button__text">Invitados</span><span class="button__hide-icon icon-address-book"></span></button>
                <button class="button__model button__signup"><div class="button__color-layer"><a href="{% url 'signup' %}"></a></div><span class="button__text">Registrarse</span><span class="button__hide-icon icon-user"></span></button>
                <button class="button__model button__login"><div class="button__color-layer"><a href="{% url 'login' %}"></a></div><span class="button__text">Iniciar Sesión</span><span class="button__hide-icon icon-enter"></span></button>            </div>
            </div>        
        </div>
    {% endif %}
</div>