<label for="contactMe">
    <div class="close_panel"></div>
</label>
<div class="plain_panel">
    <label for="contactMe">
        <div class="button__model modal__close-button" tabindex="1"><div class="button__color-layer"></div><span class="button__text icon-close"></span><span class="button__hide-icon icon-close"></span></div>
    </label>
    <h2 class="section__title">Medios de contacto</h2>
    <div class="section__description" tabindex="1">
        <h3>Puedes ver mis proyectos en desarrollo aquí:</h3>
        <a href="https://github.com/carlosmperilla" target="_black">https://github.com/carlosmperilla</a>

        <h3>Repositorio de este proyecto:</h3>
        <a href="https://github.com/carlosmperilla/Visual-Stock" target="_black">https://github.com/carlosmperilla/Visual-Stock</a>
       
        <span class="email--contact">
            <strong>Correo: </strong>carlosperillaprogramacion@gmail.com
        </span>
    </div>
</div>