<button title="Editar Stock" type="button" class="stock-card__edit-button" onclick="getFormEditStock(this)" tabindex="1">Editar</button>

{% if request.user.username == "Invitados" %}
    <form class="form__stock-edit collapse" id="form__stock-edit-{{ stock.name }}">
        {% for field in edit_stock %}
            {{ field }}
            {% if field.field.widget.input_type == 'file' %}
                <div class="upload-file__interfaz">
                    <button type="button" onclick="getFile(this)" class="upload-file__button-load" tabindex="1"><span class="upload-file__button-icon icon-upload"></span class="upload-file__button-text"><span>Subir Imagen</span></button>
                    <span class="upload-file__filename"></span>
                </div>
            {% endif %}
        {% endfor %}
        <button onclick="window.alert('Opción inhabilitada para invitados. Registrese para probar.')" class="button--edit__end" tabindex="1" type="button">Editar {{ stock.name }}</button>
    </form>
{% else %}
    <form class="form__stock-edit collapse" id="form__stock-edit-{{ stock.name }}" action="{% url 'editStock' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="stock_id" type="hidden" value="{{ stock.id }}">
        {% for field in edit_stock %}
            {{ field }}
            {% if field.field.widget.input_type == 'file' %}
                <div class="upload-file__interfaz">
                    <button type="button" onclick="getFile(this)" class="upload-file__button-load" tabindex="1"><span class="upload-file__button-icon icon-upload"></span class="upload-file__button-text"><span>Subir Imagen</span></button>
                    <span class="upload-file__filename"></span>
                </div>
            {% endif %}
        {% endfor %}
        <input class="button--edit__end" form="form__stock-edit-{{ stock.name }}" tabindex="1" type="submit" value="Editar {{ stock.name }}">
    </form>
{% endif %}

<button tabindex="1" title="Cancelar" type="button" class="stock-card__cancel_edit collapse" onclick="cancelEditStock(this)"></button>