#form__stock-add {
    margin: 0 auto;
    height: 90vh;
    width: 60%;
    border: 1px solid coral;
    position: relative;
}

#form__stock-add > .form__first_step,
#form__stock-add > .form__second_step {
    position: absolute;
    width: 100%;
    height: 100%;
}

.collapse {
    visibility: collapse;
}

.ul__stock-add--errors {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: coral;
    border-radius: 20px 40px;
}