{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% include 'mainapp/index_state/index_authenticated.html' %}
    {% else %}
        {% include 'mainapp/index_state/index_not_authenticated.html' %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    {% if request.user.is_authenticated %}
    <script>const url_add_stock = "{% url 'addStock' %}";</script>
    <script src="{% static '/js/addStockInteractive.js'%}"></script>
        {% if mode == 1 %}
            <script src="{% static 'js/displayEditStock.js' %}"></script>
        {% endif %}
        {% if mode == 2 %}
            <script src="{% static 'js/displayDeleteStock.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock scripts %}