{% extends 'layouts/layout.html' %}

{% block title %}
    Inicio
{% endblock title %}

{% block content %}
    <section>
        <h2 class="section__title">Bienvenido a Visual Stock</h2>
        <section class="section__content">
            <p class="section__description">Una aplicación para visualizar stocks de productos.
                Presione el boton de invitados a continuación si desea ver el funcionamiento de la aplicación web,
            antes de registrarse.
            </p>
            <div class="center-button">
                <button class="button__model button__guests"><span class="button__text">Invitados</span><span class="button__hide-icon icon-address-book"></span></button>
            </div>
        </section>
    </section>
{% endblock content %}