{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% include 'mainapp/index_authenticated.html' %}
    {% else %}
        {% include 'mainapp/index_not_authenticated.html' %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    {% if request.user.is_authenticated %}
        <script>
            function openAddStockModal() {
                var AddStockCheck = document.getElementById("addStockCheck");
                var firstTextInput = document.querySelector("#form__stock-add input[type='text']");
                addStockCheck.checked = true;
                firstTextInput.focus();
            }
            function uploadFilePutName(target) {
                var selectorFileNameTextBox = "#"+target.id+" ~ .upload-file__interfaz .upload-file__filename";
                var UploadFileNameField = document.querySelector(selectorFileNameTextBox);
                UploadFileNameField.innerHTML = target.files[0].name;
            }
        </script>
        <script src="{% static '/js/addStockInteractive.js'%}"></script>
    {% endif %}
{% endblock scripts %}