<label for="contactMe">
    <div class="close_panel"></div>
</label>
<div class="plain_panel">
    <label for="contactMe">
        <div class="button__model modal__close-button"><div class="button__color-layer"></div><span class="button__text icon-close"></span><span class="button__hide-icon icon-close"></span></div>
    </label>
    <h2 class="section__title">Medios de contacto</h2>
    <div class="section__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum, fugit excepturi adipisci odit ipsum? Ducimus, reiciendis? Atque asperiores eveniet eaque maiores quo incidunt saepe eum, excepturi perspiciatis iure deserunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum, fugit excepturi adipisci odit ipsum? Ducimus, reiciendis? Atque asperiores eveniet eaque maiores quo incidunt saepe eum, excepturi perspiciatis iure deserunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum, fugit excepturi adipisci odit ipsum? Ducimus, reiciendis? Atque asperiores eveniet eaque maiores quo incidunt saepe eum, excepturi perspiciatis iure deserunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum, fugit excepturi adipisci odit ipsum? Ducimus, reiciendis? Atque asperiores eveniet eaque maiores quo incidunt saepe eum, excepturi perspiciatis iure deserunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum, fugit excepturi adipisci odit ipsum? Ducimus, reiciendis? Atque asperiores eveniet eaque maiores quo incidunt saepe eum, excepturi perspiciatis iure deserunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum, fugit excepturi adipisci odit ipsum? Ducimus, reiciendis? Atque asperiores eveniet eaque maiores quo incidunt saepe eum, excepturi perspiciatis iure deserunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum, fugit excepturi adipisci odit ipsum? Ducimus, reiciendis? Atque asperiores eveniet eaque maiores quo incidunt saepe eum, excepturi perspiciatis iure deserunt?</p>
    </div>