:root {
    --nav_bg_color: rgba(155, 155, 155, 0.1);
    --nav_blur_weight: 2px;
    --nav_color: #ccc;
    --nav_color_hover: #777;
    --interactive-icon_hover: rgb(183, 190, 129);
    --date_shadow: rgb(228, 222, 108);
    --text_color: #ddd;
    --text_color_button: #555;
    --bright_button: 1.2;
    --button_shadow: #777;
    --button_shadow_hover: #555;
    --modal_bg_color: rgba(105, 138, 190, 0.5);
    --bright_modal: 0.7;
    --modal_blur_weight: 5px;
    --plain-panel_bg_color: #222;
    --button_guests_color_layer: rgba(255, 184, 3, 0.5);
    --button_signup_color_layer: rgba(14, 213, 77, 0.5);
    --button_login_color_layer: rgba(107, 164, 207, 0.5);
    --button_close_color_layer: rgba(247, 102, 41, 0.5);
    --button_addStock_color_layer: rgba(57,99,142,0.52);
    --form_error_color: rgb(183 57 57);
    --popup_success-message_bg_color: rgba(0,217,12,0.25);
    --popup_info-message_bg_color: rgba(0,121,217,0.25);
    --popup_error-message_bg_color: rgba(217, 145, 0, 0.25);
    --popup_warning-message_bg_color: rgba(217, 0, 0, 0.25);
    --stock-card__color: #202834;
    --add_button__color: #161a2c;
    --add_stock_modal_bg: rgba(32, 7, 69, 0.556);
    --add_stock_input_text: rgb(34, 26, 66);
    --add_stock_input_bg: rgba(192, 192, 192, 0.278);
    --add_stock_input_bright: 1.2;
    --select_file_bg: rgb(57, 39, 84);
    --delete_button_bg: darkred;
    --edit_button_bg: rgb(47, 101, 6);
    --delete_password_bg: rgba(192, 192, 192, 0.69);
    --delete_password_placeholder: rgb(98, 95, 105);
    --delete_endButton_bg: rgb(80 10 10);
    --edit_endButton_bg: rgb(10, 80, 46);
    --delete_endButton_color: rgb(214, 214, 214);
    --edit_endButton_color: rgb(214, 214, 214);
    --table_even_row_bg: #424242;
    --table-thead_bg: rgba(39, 49, 84, 0.68);
    --table-card-border: #eadede;
    --table-card-body: #1d0945f2;
    --table-card-quantity: #3a1e73f2;
    --table-card-name: rgba(119, 99, 167, 0.24);
    --table-edit-border: #b94400;
    --h3-bg-color: #013e3b2b;
    --fiter--button_bg: rgb(10 80 71);
}

::backdrop {
    --modal_bg_color: rgba(105, 138, 190, 0.5);
    --bright_modal: 0.7;
    --modal_blur_weight: 5px;
}
  

body {
    background-image: url("../imgs/background_pattern_dark.jpg");
}

