:root {
    --nav_bg_color: rgba(155, 155, 155, 0.1);
    --nav_blur_weight: 2px;
    --nav_color: #ccc;
    --nav_color_hover: #777;
    --interactive-icon_hover: rgb(183, 190, 129);
    --date_shadow: rgb(228, 222, 108);
    --text_color: #ddd;
    --text_color_button: #555;
    --bright_button: 1.2;
    --button_shadow: #777;
    --button_shadow_hover: #555;
    --modal_bg_color: rgba(105, 138, 190, 0.5);
    --bright_modal: 0.7;
    --modal_blur_weight: 5px;
    --plain-panel_bg_color: #222;
    --button_guests_color_layer: rgba(255, 184, 3, 0.5);
    --button_signup_color_layer: rgba(14, 213, 77, 0.5);
    --button_login_color_layer: rgba(107, 164, 207, 0.5);
    --button_close_color_layer: rgba(247, 102, 41, 0.5);
}

body {
    background-image: url("../imgs/background_pattern_dark.jpg");
}

