@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ppo9n');
  src:  url('../fonts/icomoon.eot?4ppo9n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4ppo9n') format('truetype'),
    url('../fonts/icomoon.woff?4ppo9n') format('woff'),
    url('../fonts/icomoon.svg?4ppo9n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-images:before {
  content: "\e90e";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-history:before {
  content: "\e94d";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-user:before {
  content: "\e971";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-table:before {
  content: "\ea70";
}
.icon-table2:before {
  content: "\ea71";
}