* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--selection--color);
    background-color: var(--selection--bg_color);
}

html {
	font-size: 62.5%
}

p {
	font-size: 1.6rem
}

a {
    text-decoration: none;
    color: var(--nav_color);
}

li {
    list-style: none;
    color: var(--nav_color);
}

body {
    display: grid;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    /* max-height: 100%; */
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px minmax(calc(100% - 97px), 1fr) 37px;
    transition: 200ms all ease-in-out;
}

header {
    grid-area: header;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 60px;
	padding-right: 20px;
	gap: 20px;
    position: relative;
}

header .burger-button--content {
    display: none;
}

header > .bg_navbar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    transition: .5s;
    pointer-events: none;
}

header > label {
    display: flex;
    width: 36px;
    align-items: center;
    justify-content: center;
    order: 1;
    transition: margin-left 1s;
}

header > label > .active-hide {
    display: flex;
    width: 3.6rem;
    height: 3.6rem;
    justify-content: center;
    align-items: center;
}

header .icon-table,
header .icon-table2,
header .icon-newspaper,
header .icon-eye, 
header .icon-eye-blocked,
header .icon-contrast {
    color: var(--nav_color);
    font-size: 3.6rem;
}
header .icon-table,
header .icon-table2,
header .icon-newspaper,
header .icon-contrast {
    font-size: 3rem;
}

#tableSeparateRows,
#tableCards,
#changeColorTheme,
#display_nav,
#howToUse,
#contactMe,
#addStockCheck {
    display: none;
}

.icon-eye-blocked,
#display_nav:checked ~ header > nav,
#display_nav:checked ~ header > label > span.icon-eye {
    visibility: hidden;
}

#display_nav:checked ~ header > label > span.icon-eye {
    display: none;
}

#display_nav:checked ~ header > label {
    margin-left: 15px;
}

header .active-hide {
    position: absolute;
}

#display_nav:checked ~ header > .bg_navbar {
    transform: scale(0.01, 0.01);
    visibility: hidden;
}

#display_nav:checked ~ footer {
    transform: scaleY(0);
    opacity: 0;
}

#display_nav:checked ~ header > label > .active-hide > .icon-eye-blocked {
    visibility: visible;
}

#display_nav:checked ~ header > label > .active-hide {
    visibility: visible;
    background-color: var(--nav_bg_color);
    box-shadow: 0px 0px var(--nav_blur_weight) 8px var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    border-radius: 50%;
}

nav {
    display: flex;
    position: static;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

nav > ul {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
}

nav > ul > li {
    display: flex;
    margin-left: 20px;
    padding: 3px 10px;
}

nav > ul > li> a:hover,
nav > ul > li:hover,
header label:hover > .icon-eye,
header .active-hide:hover .icon-table,
header .active-hide:hover .icon-table2,
header .active-hide:hover .icon-newspaper,
header .active-hide:hover .icon-eye-blocked,
header .active-hide:hover .icon-contrast {
    color: var(--nav_color_hover);
}

header label:hover > .icon-eye,
header .active-hide:hover .icon-table,
header .active-hide:hover .icon-table2,
header .active-hide:hover .icon-newspaper,
header .active-hide:hover .icon-eye-blocked,
header .active-hide:hover .icon-contrast {
    animation: swing-color 1.5s ease infinite;
    animation-direction: alternate-reverse;
}

@keyframes swing-color {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(0deg);
        color: var(--interactive-icon_hover);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 20px 20px;
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    position: relative;
    z-index: 0;
}

main > section {
    display: grid;
    height: 90%;
    width: 95%;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 100%;
    gap: 3%;
}

.section__title {
    font-size: 4.6rem;
    font-weight: 600;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--nav_color);
    align-self: center;
}

.section__content {
    display: grid;
    padding-top: 30px;
    padding-left: 15px;
    justify-items: center;
}


.section__login .div__login--errors,
.section__signup .div__signup--errors {
    position: absolute;
    top: -75px;
    left: 10%;
    width: 80%;
    height: 100px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 50px 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: sans-serif, Arial, Helvetica;
    color: var(--form_error_color);
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section__login .div__login--errors::-webkit-scrollbar,
.section__signup .div__signup--errors::-webkit-scrollbar {
    display: none;
}

.section__login .div__login--errors > ul.errorlist,
.section__signup .div__signup--errors > ul.errorlist {
    height: 100%;
}
.section__login .div__login--errors ul.errorlist > li,
.section__signup .div__signup--errors ul.errorlist > li {
    list-style: square;
    margin-left: 20px;
    color: var(--form_error_color);
}

.section__login .div__login--errors ul.errorlist > li li,
.section__signup .div__signup--errors ul.errorlist > li li {
    list-style: disc;
    color: var(--text_color);
}


.section__login .section__content,
.section__signup .section__content {
    padding: 0;
}

.section__login > .section__title,
.section__signup > .section__title {
    justify-self: center;
}

p, form > label {
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--text_color);
    text-align: justify;
}

.section__login .section__description,
.section__signup .section__description {
    border-radius: 50px 0;
    display: flex;
    flex-direction: row;
    height: 80%;
    padding: 30px;
    position: relative;
}

.section__login .center-button,
.section__signup .center-button {
    width: 50%;
    align-items: center;
}

.section__login .input__effect,
.section__signup .input__effect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 2px solid var(--nav_color);
    transition: all 1.5s;
}

.section__login label:hover > .input__effect,
.section__signup label:hover > .input__effect {
    transform: scaleX(0.5);
}

.section__login .section__description > form,
.section__signup .section__description > form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    padding: 20px;
}

.section__login .section__description > form input,
.section__login .section__description > form input:active,
.section__login .section__description > form input:focus,
.section__signup .section__description > form input,
.section__signup .section__description > form input:active,
.section__signup .section__description > form input:focus {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    min-height: 2.4rem;
    height: 100%;
}



input:-webkit-autofill:hover, 
.section__login .section__description > form input::placeholder,
.section__login .section__description > form input:not(:focus),
.section__login .section__description > form input:focus,
.section__signup .section__description > form input::placeholder,
.section__signup .section__description > form input:not(:focus),
.section__signup .section__description > form input:focus {
    font-size: 2.4rem;
    font-weight: normal;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--nav_color_hover);
    text-align: center;
}

.section__login .section__description > form input:not(:focus),
.section__login .section__description > form input:focus,
.section__signup .section__description > form input:not(:focus),
.section__signup .section__description > form input:focus {
    color: var(--nav_color);
}

.section__login .section__description > form input:active,
.section__signup .section__description > form input:active {
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--modal_blur_weight));
    border-radius: 20px;
}


.section__login .section__description > form input:-webkit-autofill,
.section__signup .section__description > form input:-webkit-autofill,
.section__signup .section__description > form input:-webkit-autofill:focus,
.section__signup .section__description > form input:-webkit-autofill:not(:focus),
.section__login .section__description > form input:-webkit-autofill:focus,
.section__login .section__description > form input:-webkit-autofill:not(:focus),
.section__signup .section__description > form input:-webkit-autofill:active,
.section__login .section__description > form input:-webkit-autofill:active {
    border-radius: 20px;
    font-size: 2.4rem;
}

.section__signup .section__description > form input:-webkit-autofill ~ .input__effect,
.section__login .section__description > form input:-webkit-autofill ~ .input__effect {
    display: none;
}

.section__login .section__description > form label,
.section__signup .section__description > form label {
    padding: 0;
    position: relative;
}

.section__description {
    display: flex;
    padding: 18px;
    border-radius: 50px;
    backdrop-filter: grayscale();
    max-width: 700px;
    align-self: center;
    width: 90%;
}

.center-button {
    max-width: 700px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.button__model > .button__hide-icon {
    font-size: 4.6rem;
    visibility: hidden;
    position: absolute;
}

.button__model {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 50%;
    background-color: var(--nav_color);
    color: var(--text_color_button);
    font-size: 2.6rem;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
    box-shadow: -6px 6px var(--button_shadow);
    position: relative;
}

.button__model:hover {
    background-color: var(--text_color_button);
    color: var(--nav_color);
    border: 2px solid var(--nav_color);
}

.button__model:hover > .button__hide-icon {
    visibility: visible;
}

.button__model:hover > .button__text {
    visibility: hidden;
}

.button__model:active {
    filter: brightness(var(--bright_button));
    transform: translate(-2px, 2px);
    box-shadow: -2px 2px var(--button_shadow_hover);
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    place-items: center;
    background-color: var(--nav_bg_color);
    color: var(--nav_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    font-size: 1.6rem;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
    transition: all 1.5s;
}

footer > time {
    user-select: none;
    font-size: 3.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: shadowTime 3s ease-in-out;
    animation-delay: 2s;
}

@keyframes shadowTime {
    0%, 100% {
        filter: drop-shadow(0px 0px 10px var(--date_shadow));
    }
    50% {
        filter: drop-shadow(80px 0px 0px var(--date_shadow));
    }

}

footer > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

footer > ul > li {
    padding-left: 40px;
    display: flex;
    user-select: none;
}

footer > ul > li:hover > label {
    animation: expandToUp .7s ease-in-out infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes expandToUp {
    100% {
        transform: scale(1.2) translateY(-20%)
    }
}

.modal {
    height: 100vh;
    width: 100%;
    background-color: var(--modal_bg_color);
    backdrop-filter: brightness(var(--bright_modal)) blur(var(--modal_blur_weight));
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal .close_panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}

.modal > .plain_panel {
    height: 80%;
    width: 80%;
    background-color: var(--plain-panel_bg_color);
    color: var(--nav_color);
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px var(--button_shadow_hover);
    padding: 15px 20px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.modal > .plain_panel > .section__title {
    font-size: 4.6rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;
}

.modal.modal__contactMe > .plain_panel > .section__description {
    overflow-x: auto;
}

.modal__contactMe > .plain_panel > .section__description h3,
.modal > .plain_panel > .section__description summary {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 20px;
    text-align: left;
    color: var(--text_color);
    background-color: #ffb4002b;
    padding-left: .5em;
}

.modal__contactMe > .plain_panel > .section__description h3 {
    padding-right: 5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal__contactMe > .plain_panel > .section__description h3:first-child {
    margin-top: 0;
}

.modal__contactMe > .plain_panel > .section__description .email--contact,
.modal__contactMe > .plain_panel > .section__description a {
    width: fit-content;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    margin: 0 auto;
    word-break: break-all;
}

.modal__contactMe > .plain_panel > .section__description .email--contact {
    font-weight: normal;
    margin-left: 0;
    margin-top: 30px;
    font-size: 1.8rem;
    font-family: cursive;
}

.modal > .plain_panel > .section__description summary h3 {
    display: inline;
}

.modal > .plain_panel > .section__description summary h3 span {
    vertical-align: text-top;
}

.modal > .plain_panel > .section__description summary h3 span.icon-eye {
    vertical-align: bottom;
}

.modal > .plain_panel > .section__description summary h3 span.icon-add__stock {
    border: 2px solid var(--text_color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 1em;
    height: 1em;
    font-weight: bold;
}

.modal__howToUse > .plain_panel > .section__description details ul {
    margin-bottom: 18px;
}

.modal__howToUse > .plain_panel > .section__description details ul > li {
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--text_color);
    text-align: justify;
    list-style-type: disc;
    margin-left: 1em;
}

.modal > .plain_panel > .section__description details p {
    margin-bottom: 20px;
}

.modal > .plain_panel > .section__description details p:last-child {
    margin-bottom: 0;
}

.modal__howToUse > .plain_panel > .section__description details:last-child p:last-child {
    margin-bottom: 50px;
}

.modal > .plain_panel > .section__description {
    height: auto;
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior-y: contain;
    border-radius: 0;
    flex-direction: column;
}

.modal > .plain_panel > .section__description::-webkit-scrollbar {
    display: none;
}
  

.modal > .plain_panel > .button_box {
    width: 100%;
    height: 45%;
    position: relative;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_box > .interactive-buttons {
    width: 100%;
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.modal > .plain_panel .modal__close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    display: inline-flex;
    align-items: center;
    box-shadow: -3px 3px var(--button_shadow);
}

.modal > .plain_panel .modal__close-button:active {
    box-shadow: -1px 1px var(--button_shadow_hover);
}

.icon-close::after {
    content: "X";
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
}

.modal > .plain_panel .modal__close-button > .button__hide-icon {
    font-size: 2.6rem;
}

.button__model .button__color-layer,
.button__model .button__color-layer > a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.button__color-layer ~ .button__hide-icon {
    z-index: 1;
}

.button__model .button__color-layer > a {
    display: block;
    position: relative;
}

.button__guests .button__color-layer {
    background-color: var(--button_guests_color_layer);
}

.button__signup .button__color-layer {
    background-color: var(--button_signup_color_layer);
}

.button__login .button__color-layer {
    background-color: var(--button_login_color_layer);
}

.modal__close-button .button__color-layer {
    background-color: var(--button_close_color_layer);
}

#howToUse:not(:checked) ~ .modal__howToUse .button__model:hover >.button__hide-icon,
#contactMe:not(:checked) ~ .modal__contactMe .button__model:hover >.button__hide-icon,
#addStockCheck:not(:checked) ~ .modal__addStock .button__model:hover >.button__hide-icon {
    visibility: hidden;
}

#howToUse:checked ~ .modal__howToUse,
#contactMe:checked ~ .modal__contactMe,
#addStockCheck:checked ~ .modal__addStock  {
    visibility: visible;
}

.success_level {
    background-color: var(--popup_success-message_bg_color);
}

.info_level {
    background-color: var(--popup_info-message_bg_color);
}

.warning_level {
    background-color: var(--popup_warning-message_bg_color);
}

.error_level {
    background-color: var(--popup_error-message_bg_color);
}

#closePopUp,
#closePopUp:checked ~ .popup_message {
    display: none;
}

.popup_message {
    color: var(--nav_color);
    position: absolute;
    top: calc(50% - 25px);
    left: 5%;
    width: 90%;
    height: 50px;
    border-radius: 20px;
    font-size: 2.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: RiseAndFade 7s ease-in;
    animation-fill-mode: forwards;
    z-index: 2;
}

.popup__span {
    font-weight: bold;
}

.popup_close_button::after {
    content: "X";
    font-size: 2.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bolder;
    position: absolute;
    right: 1%;
    bottom: calc(50% - 15px);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav_color);
    color: var(--text_color_button);
}

@keyframes RiseAndFade {
    0% {
        top: calc(50% - 25px);
    }
    20% {
        top: -25px;
        opacity: 1;
    }
    98% {
        visibility: visible;
        opacity: 0;
        top: -25px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        top: -25px;
    }
}


.nav__post-login > ul {
	justify-content: start;
}

.li__user-button {
    order: -1;
    margin-left: 0;
    border: 2px solid var(--nav_color);
    border-radius: 20px;
    user-select: none;
    position: relative;
}

.li__index {
    user-select: none;
}

.li__backup-stocks,
.li__modes-stocks,
.li__created-stocks {
    user-select: none;
    position: relative;
}

.li__user-button:hover {
    border: 2px solid var(--interactive-icon_hover);
    animation: light-color 1.5s ease;
    animation-fill-mode: forwards;
}

@keyframes light-color {
    100% {
        color: var(--interactive-icon_hover);
    }
}

.li__user-button:hover > .icon-user {
    animation: swing-color 1.5s ease infinite;
    animation-direction: alternate-reverse;
}

.submenu__triangle-draw {
    visibility: collapse;
    opacity: 0;
    position: absolute;
    left: 46%;
    top: 111%;
    width: 15px;
    height: 15px;
    background-color: var(--plain-panel_bg_color);
    box-shadow: inset 0px 0px 5px var(--button_shadow_hover);
    border-radius: 5px;
    transform: rotate(45deg) translateY(20px);
    transition: 00ms all ease-in;
    transition-delay: .7s;
}

.ul__user-options,
.ul__backups,
.ul__stocks,
.ul__modes {
    visibility: collapse;
    opacity: 0;
    position: absolute;
    top: calc(100% + 10px);
    z-index: 1;
    background-color: var(--plain-panel_bg_color);
    box-shadow: inset 0px 0px 11px var(--button_shadow_hover);
    border-radius: 20px;
    padding: 10px 10px;
    transition: .7s all;
}

.ul__modes,
.ul__backups,
.ul__stocks {
    left: 10%;
    right: 10%;
}
.ul__modes {
    right: auto;
}

.ul__backups{
    width: max-content;
    min-width: 100%;
}

.ul__user-options > .li__user-option,
.ul__modes > .li__mode,
.ul__backups > .li__backup,
.ul__stocks > .li__stock {
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.ul__backups > .li__backup,
.ul__modes > .li__mode,
.ul__stocks > .li__stock {
    white-space: break-spaces;
    text-align: center;
}

.ul__backups > .li__backup {
    white-space: nowrap;
}

.ul__backups > .li__backup .icon-floppy-disk {
    font-size: .8em;
}

.ul__backups > .li__backup:last-child,
.ul__modes > .li__mode:last-child,
.ul__user-options > .li__user-option:last-child,
.ul__stocks > .li__stock:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.ul__user-options > .li__user-option:hover > a,
.ul__modes > .li__mode:hover > a,
.ul__backups > .li__backup:hover > a,
.ul__stocks > .li__stock:hover > a {
    color: var(--nav_color_hover);
    width: 100%;
    height: 100%;
    text-align: center;
}

.ul__user-button:hover,
.submenu__triangle-draw:hover,
.li__user-button:hover > .ul__user-options,
.li__user-button:hover > .submenu__triangle-draw,
.li__backup-stocks:hover,
.li__backup-stocks:hover > .ul__backups,
.li__backup-stocks:hover > .submenu__triangle-draw,
.li__modes-stocks:hover,
.li__modes-stocks:hover > .ul__modes,
.li__modes-stocks:hover > .submenu__triangle-draw,
.ul__created-stocks:hover,
.li__created-stocks:hover > .ul__stocks,
.li__created-stocks:hover > .submenu__triangle-draw {
    visibility: visible;
    opacity: 1;
}

.li__user-button:hover > .submenu__triangle-draw,
.li__modes-stocks:hover > .submenu__triangle-draw,
.li__backup-stocks:hover > .submenu__triangle-draw,
.li__created-stocks:hover > .submenu__triangle-draw {
    transform: rotate(45deg) translateY(0);
}

.li__user-button:not(:hover) > .submenu__triangle-draw,
.li__backup-stocks,:not(:hover) > .submenu__triangle-draw,
.li__modes-stocks,:not(:hover) > .submenu__triangle-draw,
.li__created-stocks:not(:hover) > .submenu__triangle-draw {
    transition: all .7s step-start;
}

.container__stocks {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.section__content.post_login {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.section__content.post_login > .stock-card {
    background-color: var(--modal_bg_color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    contain: content;
    width: 100%;
    max-width: 380px;
}

.section__content.post_login > .stock-card > .stock-card__image {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}



.section__content.post_login > .stock-card > .stock-card__name {
    position: absolute;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bolder;
    font-size: 5.6rem;
    word-break: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--stock-card__color);
    background-color: var(--modal_bg_color);
    mix-blend-mode: revert;
    backdrop-filter: brightness(var(--bright_modal)) blur(var(--modal_blur_weight));
    user-select:none;
}

.section__content.post_login > .stock-card > .stock-card__name:hover {
    backdrop-filter: brightness(1.2) blur(0);
    color: transparent;
    user-select: none;
}

.stock-card__edit-button,
.stock-card__delete-button {
    background-color: var(--delete_button_bg);
    color: var(--nav_color);
    font-size: 3.4rem;
    font-weight: bold;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: .5rem;
    border: none;
    position: absolute;
    top: 18px;
    left: 16px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-card__edit-button {
    background-color: var(--edit_button_bg);
    color: var(--nav_color);
    font-size: 2rem;
    width: 7.4rem;
    height: 4rem;
    left: calc(100% - 16px - 7.4rem);
}

.stock-card__edit-button:active,
.stock-card__edit-button:hover,
.stock-card__delete-button:active,
.stock-card__delete-button:hover {
    filter: brightness(var(--add_stock_input_bright))
}

.stock-card__edit-button:active,
.stock-card__delete-button:active {
    border: 1px solid rgb(221, 224, 248);
}


.form__stock-edit,
.form__stock-delete {
    position: absolute;
    z-index: 1;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.form__stock-edit {
    gap: 10px;
}

.add_stock {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--add_button__color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--nav_color);
    top: -23px;
    border: 3px solid var(--nav_color);
}

.add_stock::after {
    content: "+";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.6rem;
    font-weight: bolder;
}

.add_stock:hover {
    filter: brightness(var(--bright_button));
}

.add_stock:active {
    transform: scale(0.8);
}

/* sección de formulario addición */
.modal__addStock > .plain_panel {
    flex-direction: row;
}

.modal__addStock > .plain_panel > .section__title,
.modal__addStock > .plain_panel > .section__description {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
}

.modal__addStock > .plain_panel > .section__title {
    width: 30%;
    text-align: center;
    font-size: 6.6rem;
}

.modal__addStock > .plain_panel > .section__description {
    height: 100%;
    width: 80%;
    flex-direction: row;
    justify-content: center;
}

.form__addStock-content {
    height: 100%;
    width: 90%;
    background-color: var(--add_stock_modal_bg);
    border: 5px inset var(--add_stock_modal_bg);
    border-radius: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    position: relative;
}

#form__stock-add {
    position: relative;
    width: 100%;
    height: 100%;
}

#form__stock-add label {
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 2.6rem;
}

.form__stock-edit input[type="text"],
.form__stock-delete input[type="password"],
#form__stock-add input[type="text"] {
    border-radius: 7px;
    font-size: 2.6rem;
    padding-left: 20px;
    width: 60%;
    height: 4rem;
    min-height: 4rem;
    outline: none;
    border: none;
    font-weight: normal;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--add_stock_input_text);
    background-color: var(--add_stock_input_bg);
    margin-left: 50px;
}

.form__stock-edit input[type="text"]::placeholder,
.form__stock-delete input[type="password"]::placeholder,
#form__stock-add input[type="text"]::placeholder {
    font-weight: normal;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--nav_color_hover);
}

.form__stock-edit input[type="text"]:hover,
.form__stock-edit input[type="text"]:focus,
.form__stock-edit input[type="text"]:active,
.form__stock-delete input[type="password"]:hover,
.form__stock-delete input[type="password"]:focus,
.form__stock-delete input[type="password"]:active,
#form__stock-add input[type="text"]:hover,
#form__stock-add input[type="text"]:focus,
#form__stock-add input[type="text"]:active {
    filter: brightness(var(--add_stock_input_bright));
}

.form__stock-edit input[type="text"]:focus,
.form__stock-edit input[type="text"]:active,
.form__stock-delete input[type="password"]:focus,
.form__stock-delete input[type="password"]:active,
#form__stock-add input[type="text"]:focus,
#form__stock-add input[type="text"]:active {
    border: 1px solid var(--nav_color);
}

.form__stock-edit input[type="text"],
.form__stock-delete input[type="password"] {
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 90%;
    height: 4.4rem;
    background-color: var(--delete_password_bg);
}

.form__stock-edit input[type="text"]::placeholder,
.form__stock-delete input[type="password"]::placeholder {
    color: var(--delete_password_placeholder);
    font-weight: bold;
}

.form__stock-edit input[type="file"],
#form__stock-add input[type="file"] {
    display: none;
}

.form__stock-edit .upload-file__interfaz,
#form__stock-add .upload-file__interfaz {
    margin-left: 50px;
    border-radius: 10px;
    height: 4rem;
    width: 60%;
    display: grid;
    grid-template-columns: 43% 57%;
}

.form__stock-edit .upload-file__interfaz {
    margin-left: 0;
    width: 90%;
    grid-template-columns: 53% 47%;
    color: var(--edit_endButton_color);
}

.button--edit__end,
.button--delete__end,
.form__stock-edit .upload-file__interfaz .upload-file__button-load,
#form__stock-add .upload-file__interfaz .upload-file__button-load {
    padding: 9px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--select_file_bg);
    border-radius: 10px 0 0 10px;
    font-size: 1.6rem;
    gap: 5px;
    user-select: none;
}

.form__stock-edit .upload-file__interfaz .upload-file__button-load {
    font-size: 1.4rem;
    color: var(--delete_endButton_color);
    border: none;
}

.button--edit__end,
.button--delete__end {
    padding: 7px;
    width: 90%;
    height: 4.4rem;
    background-color: var(--delete_endButton_bg);
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bolder;
    gap: 0;
    color: var(--delete_endButton_color);
}

.button--edit__end {
    background-color: var(--edit_endButton_bg);
    color: var(--edit_endButton_color);
    margin-top: 10px;
}

.stock-card__cancel_edit,
.stock-card__cancel_delete {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: #7ea6bd73;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    border: none;
    border-radius: 20px;
}

.stock-card__cancel_edit::after,
.stock-card__cancel_delete::after {
    content: " X";
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: bolder;
}

.stock-card__cancel_edit:hover,
.stock-card__cancel_delete:hover,
.button--edit__end:hover,
.button--delete__end:hover,
.form__stock-edit .upload-file__interfaz .upload-file__button-load:hover,
#form__stock-add .upload-file__interfaz .upload-file__button-load:hover,
.form__stock-edit .upload-file__interfaz .upload-file__button-load:hover ~ .upload-file__filename,
#form__stock-add .upload-file__interfaz .upload-file__button-load:hover ~ .upload-file__filename {
    filter: brightness(var(--add_stock_input_bright));
}


.button--edit__end:active,
.button--delete__end:active,
#form__stock-add .upload-file__interfaz .upload-file__button-load:active,
.form__stock-edit .upload-file__interfaz .upload-file__button-load:active,
.form__stock-edit .upload-file__interfaz .upload-file__button-load:active ~ .upload-file__filename,
#form__stock-add .upload-file__interfaz .upload-file__button-load:active ~ .upload-file__filename {
    border: 1px solid var(--nav_color_hover);
}

.stock-card__cancel_edit:active ,
.stock-card__cancel_delete:active {
    border: 2px solid var(--nav_color_hover);
    color: var(--nav_color);
}

.form__stock-edit .upload-file__filename,
#form__stock-add .upload-file__filename {
    width: 100%;
    background-color: var(--add_stock_input_bg);
    border-radius: 0 10px 10px 0;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: normal;
    font-size: 1.6rem;
    contain: content;
    overflow: hidden;
    line-height: 4rem;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
}

#form__stock-add > .form__optional_step,
#form__stock-add > .form__first_step,
#form__stock-add > .form__second_step {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 6%;
}

.collapse {
    visibility: collapse;
}

.errors-content {
    position: absolute;
    width: 30%;
    height: 100px;
    border-radius: 20px 40px;
    top: 20px;
    left: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: 1.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    color: var(--form_error_color);
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errors-content::-webkit-scrollbar {
    display: none;
}

.errors-content > ul {
    height: 100%;
}

.errors-content > ul > li {
    list-style: square;
    margin-left: 20px;
    color: var(--form_error_color);
}

.errors-content > ul > li li {
    list-style: disc;
    margin-left: 20px;
    color: var(--text_color);
}

.errors-content > ul > li li:last-child {
    margin-bottom: 10px;
}

.form__addStock-content .button__model {
    min-width: 150px;
    min-height: 150px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.form__addStock-content .button__model > .button__special-arrow::after {
    content : "➡";
    font-size: 6.6rem;
}

.form__addStock-content .button__model .button__color-layer {
    background-color: var(--button_addStock_color_layer);
}

.back-arrow {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    border-radius: 50%;
    border: 2px solid var(--nav_color);
    background-color: var(--add_stock_modal_bg);
    background-color: transparent;
    color: var(--nav_color);
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
}

.back-arrow:hover {
    animation: swing-color-two 1.5s ease;
    animation-direction: alternate-reverse;
}

.back-arrow:active {
    color: var(--interactive-icon_hover);
    border-color: var(--interactive-icon_hover);
}

@keyframes swing-color-two {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(0deg);
        color: var(--interactive-icon_hover);
        border-color: var(--interactive-icon_hover);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.button__optional-columns {
    border-radius: 10px;
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--nav_color);
    color: var(--nav_color);
    background: var(--select_file_bg);
    padding: 1.4rem;
    position: absolute;
    bottom: 5px;
    left: 10px;
    user-select: none;
    transition: color 1s ease-in-out, 
                border-color 1s ease-in-out, 
                backdrop-filter 1s ease-in-out,
                transform 70ms ease-in;
}

.button__optional-columns:hover {
    color: var(--interactive-icon_hover);
    border-color: var(--interactive-icon_hover);
    backdrop-filter: brightness(var(--bright_button));
}

a:focus,
footer label:focus,
.active-hide:focus,
.li__created-stocks:focus,
.li__backup-stocks:focus,
.li__modes-stocks:focus,
.li__user-button:focus,
.add_stock:focus,
#form__stock-add .upload-file__interfaz .upload-file__button-load:focus,
.form__addStock-content .button__model:focus,
.section__description:focus,
.button__optional-columns:focus,
.back-arrow:focus,
.stock-card__delete-button:focus,
.stock-card__edit-button:focus,
.button--edit__end:focus,
.button--delete__end:focus,
.stock-card__cancel_edit:focus,
.stock-card__cancel_delete:focus,
.form__stock-edit .upload-file__interfaz .upload-file__button-load:focus,
.button__model.modal__close-button:focus,
.button__model.button__login:focus,
.button__model.button__signup:focus,
.button__model.button__guests:focus {
    outline: 3px #3e70a0 solid;
}

.form__stock-edit input[type="text"]:focus,
.form__stock-delete input[type="password"]:focus,
#form__stock-add input[type="text"]:focus {
    border: 3px #3e70a0 solid;
}

.section__content.post_login > .stock-card > .stock-card__name:focus {
    border: 8px var(--interactive-icon_hover) solid;
}

.form__stock-edit .upload-file__interfaz .upload-file__button-load:focus,
.button--edit__end:focus,
.button--delete__end:focus,
.stock-card__cancel_edit:focus,
.stock-card__cancel_delete:focus,
.stock-card__edit-button:focus,
.stock-card__delete-button:focus {
    outline-color: var(--interactive-icon_hover);
}

.form__stock-edit input[type="text"]:focus,
.form__stock-delete input[type="password"]:focus {
    border-color: var(--interactive-icon_hover);
}

.section__login .section__description > form input:focus,
.section__signup .section__description > form input:focus {
    background-color: var(--add_stock_input_bg);
    border-radius: 15px 15px 0 0;
}

.section__signup .section__description > form input:focus::placeholder,
.section__login .section__description > form input:focus::placeholder {
    color: var(--add_stock_input_text);
}

.section__login .section__description:focus-within,
.section__signup .section__description:focus-within {
    background-color: var(--add_stock_modal_bg);
}

/* tabla de productos */

.content-table {
    min-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 20px;
}

table th,
table td,
table,
table thead,
table tbody,
table tr {
    transition: all .3s ease-out;
}


table th,
table td,
table {
    border: 1px solid var(--nav_color);
    border-collapse: collapse;
}

table {
    min-width: 100%;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 2rem;
    align-self: start;
    justify-self: start;
    white-space: nowrap;
    border: none;
}

table th,
table tr td:first-child {
    border-left: none;
}

table th:last-child,
table tr td:last-child {
    border-right: none;
}

table th {
    border-top: none;
}

table tr:last-child td {
    border-bottom-width: 2px;
    border-bottom-color: var(--nav_color);
}

table th,
table td {
    padding: 2px 10px;
    height: 2.6rem;
    text-align: center;
}

table th {
    font-weight: bolder;
    background-color: var(--table-thead_bg);
    color: var(--nav_color);
    font-size: 1em;
    position: sticky;
    top: 0;
}

table th:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid var(--nav_color);
}

table td {
    font-weight: normal;
    background-color: var(--plain-panel_bg_color);
    color: var(--nav_color);
    font-size: .8em;
}

table tr:nth-child(even) td {
    background-color: var(--table_even_row_bg);

}

table tr:hover td {
    filter: sepia(1);
}

table tr td img {
    width: 1.6rem;
}

table td[contenteditable] {
    border: 2px solid var(--table-edit-border)
}

table td[contenteditable]:focus {
    border: 1px solid orange;
    outline: 1px solid orange;
}

/* por fila */
#tableSeparateRows:checked ~ #content table {
    border-collapse: separate;
    border-spacing: .6rem 1.6rem;
}

#tableSeparateRows:checked ~ #content table th,
#tableSeparateRows:checked ~ #content table tr:last-child td,
#tableSeparateRows:checked ~ #content table tr td:first-child,
#tableSeparateRows:checked ~ #content table tr td:last-child {
    border: 1px solid var(--nav_color);    
}

#tableSeparateRows:checked ~ #content table th {
    border-radius: 20px;
}

#tableSeparateRows:checked ~ #content table th:after {
    border: none;
}

#tableSeparateRows:checked ~ #content table tr td:first-child {
    border-radius: 10px 0 0 10px;
}

#tableSeparateRows:checked ~ #content table tr td:last-child {
    border-radius: 0 10px 10px 0;
}

/* por tarjeta */
#tableCards:checked ~ #content table tr:last-child td, 
#tableCards:checked ~ #content table tr td:first-child, 
#tableCards:checked ~ #content table tr td:last-child,
#tableCards:checked ~ #content table td {
    border: none;
}

#tableCards:checked ~ #content table tr {
    border: 2px solid rgb(119 95 61);
    border: 2px solid var(--table-card-border);
}

#tableCards:checked ~ #content table thead {
    display: none; 
 }
 
 #tableCards:checked ~ #content table td.product--available ~ td {
     display:none
 }


 
 #tableCards:checked ~ #content table tbody {
     display: grid;
     padding: 20px;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 25px;
     justify-content: center;
     align-items: center;
 }
 
#tableCards:checked ~ #content table tr {
     display: grid;
     min-height: 250px;
     height: 250px;
     grid-template-areas: "product_image product_image"
                          "product_name product_name"
                          "product_price product_quantity"
                             ;
     position: relative;
     grid-template-columns: 80% 20%;
     grid-template-rows: 60% 20% 1fr;
     border-radius: 20px;
     contain: content;
     max-width: 300px;
 }
 
#tableCards:checked ~ #content table tr td {
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--plain-panel_bg_color);
 }
 
#tableCards:checked ~ #content table tr td.product--img {
     grid-area: product_image;
     border-radius: 0;
     border-bottom: 1px solid var(--nav_color);
     background-color: var(--table-card-body);
     contain: content;
     padding: 0;
 }

 #tableCards:checked ~ #content table tr td.product--img img {
    width: 100%;
 }
 
#tableCards:checked ~ #content table tr td.product--name {
    grid-area: product_name;
    border-bottom: 1px solid var(--nav_color);
    font-weight: bolder;
    font-size: larger;
    background-color: var(--table-card-name);
 }
 
#tableCards:checked ~ #content table tr td.product--price {
    grid-area: product_price;
    border-right: 1px solid var(--nav_color);
    font-weight: bolder;
    font-size: larger;
    background-color: var(--table-card-body);
    
 }
 
#tableCards:checked ~ #content table tr td.product--quantity {
    grid-area: product_quantity;
    font-weight: bolder;
    font-size: larger;
    background-color: var(--table-card-quantity);
 }
 
#tableCards:checked ~ #content table tr td.product--available {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 10px;
    left: 10px;
    font-weight: bolder;
    color: var(--table-card-border);
    border: 2px solid var(--table-card-border);
    pointer-events: none;
 }

#tableCards:checked ~ #content table tr td.product--available.available {
    background-color: var(--button_signup_color_layer);
}

#tableCards:checked ~ #content table tr td.product--available.noavailable {
    background-color: var(--button_close_color_layer);
}

#tableCards:checked ~ #content table tr td.product--check-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--delete_button_bg);
    z-index: 1;
    border-radius: 10px;
    border: 2px solid var(--table-card-border);
}

#tableCards:checked ~ #content table td[contenteditable] {
    border: 2px solid var(--table-edit-border)
}

#tableCards:checked ~ #content table td[contenteditable]:focus {
    border: 1px solid orange;
    outline: 1px solid orange;
}

/* Botones editar stock */

.edit-button_box {
    position: absolute;
    top: -17px;
    border-radius: 25px;
    contain: content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px solid var(--select_file_bg);
}

.edit-button_box > button {
    height: 35px;
    background-color: var(--select_file_bg);
    color: var(--nav_color);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: large;
    user-select: none;
}

.edit-button_box .import-img--button {
    border: 4px solid var(--select_file_bg);
    border-radius: 25px 0 0 25px;
    background: var(--nav_color);
    color: var(--select_file_bg);
}

.edit--button {
    padding-right: 14px;
}

.edit-button_box > button:hover {
    filter: brightness(var(--bright_button));
}

.edit-button_box > button:active {
    transform: scale(0.99);
}

/* Botone eliminar items stock */
.filter--button,
.delete--button {
    position: absolute;
    top: -17px;
    border-radius: 25px;
    contain: content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 35px;
    background-color: var(--delete_endButton_bg);
    color: var(--delete_endButton_color);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: large;
    user-select: none;
}

.filter--button {
    background-color: var(--fiter--button_bg);
}

.filter--button span {
    vertical-align: text-top;
}

.filter--button:hover,
.delete--button:hover {
    filter: brightness(var(--bright_button));
}

.filter--button:active,
.delete--button:active {
    transform: scale(0.9);
}

.delete--counter {
    background: white;
    color: black;
    padding-left: 2px;
    padding-right: 2px;
}

/* Dialog Modal */
.dialog--modal {
    background-color: var(--plain-panel_bg_color);
    color: var(--text_color);
    border-radius: 25px;
    position: absolute;
    font-family: sans-serif, Arial, Helvetica;
    font-size: medium;
    width: 400px;
    padding: 15px;
    top: 10px;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    opacity: 1;
    border: 6px solid var(--select_file_bg);
}

.dialog--modal span {
    margin-bottom: 10px; 
 }

.dialog--modal button {
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    color: var(--text_color);
    padding: 10px;
    display: flex;
}

.dialog--modal button:hover {
    filter: brightness(var(--bright_button))
}

.dialog--modal button:active {
    transform: scale(.9);
}

.dialog--modal button:focus {
    outline: 3px #3e70a0 solid;
}

.dialog--modal .cancel-button {
    background-color: var(--button_guests_color_layer);
}

.dialog--modal .time--redirection {
    color: var(--plain-panel_bg_color);
    background-color: var(--text_color);
}

/* delete checkboxes */

.product--check-delete {
    padding-left: 0;
    padding-right: 0;
}

.product--check-delete > label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* dialog element */

.d--modal {
    margin: auto;
    border-radius: 20px;
    background: none;
    border: none;
}

.d--modal::backdrop {
    background-color: var(--modal_bg_color);
    backdrop-filter: brightness(var(--bright_modal)) blur(var(--modal_blur_weight));
}

.d--modal > .plain_panel {
    height: 100%;
    width: 100%;
    background-color: var(--plain-panel_bg_color);
    color: var(--nav_color);
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px var(--button_shadow_hover);
    padding: 15px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.d--modal > .plain_panel > .section__title {
    font-size: 4.6rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 25px;
    text-align: center;
}

.d--modal > .plain_panel > .section__description > p {
    margin-bottom: 9px;
}

.d--modal > .plain_panel > .section__description > p:last-child {
    margin-bottom: 0;
}

.d--modal > .plain_panel > .section__description {
    height: auto;
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior-y: contain;
    border-radius: 0;
    flex-direction: column;
}

.d--modal > .plain_panel > .section__description::-webkit-scrollbar {
    display: none;
}

.d--modal > .plain_panel > .section__description > .button--container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.d--modal .close__dialog,
.d--modal > .plain_panel > .section__description > .button--container > .upload__import,
.d--modal > .plain_panel > .section__description > .button--container > .close__dialog {
    padding: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--button_close_color_layer);
    color: var(--nav_color);
    border: none;
    border-radius: 20px;
    font-size: 1.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    user-select: none;
}

.d--modal > .plain_panel > .section__description > .button--container > .close__dialog {
    justify-self: flex-end;
    margin-left: auto
}

.d--modal .close__dialog:active,
.d--modal .close__dialog:hover,
.d--modal > .plain_panel > .section__description > .button--container > .upload__import:hover,
.d--modal > .plain_panel > .section__description > .button--container > .upload__import:active,
.d--modal > .plain_panel > .section__description > .button--container > .close__dialog:active,
.d--modal > .plain_panel > .section__description > .button--container > .close__dialog:hover {
    filter: brightness(var(--add_stock_input_bright));
}

.d--modal .close__dialog:active,
.d--modal > .plain_panel > .section__description > .button--container > .upload__import:active,
.d--modal > .plain_panel > .section__description > .button--container > .close__dialog:active {
    transform: scale(0.9);
}

.d--modal .close__dialog:focus,
.d--modal > .plain_panel > .section__description > .button--container > .upload__import:focus,
.d--modal > .plain_panel > .section__description > .button--container > .close__dialog:focus {
    outline: 3px #3e70a0 solid;
}

.d--modal > .plain_panel > .section__description > .button--container > .upload__import {
    background-color: var(--select_file_bg);
}

.d--modal > .plain_panel > .section__description > .button--container > .upload__import:disabled {
    background-color: gray;
    color: darkgray;
}

.d--modal > .plain_panel > .section__description > .button--container > .upload__import:disabled:active,
.d--modal > .plain_panel > .section__description > .button--container > .upload__import:disabled:hover {
    filter: none;
}

#form--import_images {
    display: none;
}

.d--modal .captcha--box__display {
    display: grid;
    grid-template-areas: "image-captcha reload-captcha";
    grid-template-columns: 4fr 1fr;
    margin-bottom: 25px;
    margin-top: 15px;
    border-radius: 25px;
    contain: content;
}

.d--modal .captcha--box__display img {
    grid-area: image-captcha;
    width: 100%;
}

.d--modal .captcha--box__display button {
    grid-area: reload-captcha;
    font-size: 40px;
    color: var(--nav_color);
    background-color: var(--select_file_bg);
    border: None;
    border-radius: 0 25px 25px 0;
}

.d--modal .captcha--box__display button.enabled:active,
.d--modal .captcha--box__display button.enabled:hover {
    filter: brightness(var(--add_stock_input_bright));
}

.d--modal .captcha--box__display button.enabled:active {
    transform: scale(0.99);
}

.d--modal .captcha--box__display button > .icon-loop2 {
    display: block;
    transition: 300ms all ease;
}

.d--modal .captcha--box__display button.enabled:active > .icon-loop2 {
    transform: rotate(360deg);
}

.d--modal .captcha--box__input {
    display: grid;
    grid-template-areas: "input-captcha submit-data";
    grid-template-columns: 4fr 1fr;
    border-radius: 25px;
    contain: content;
}

.d--modal .captcha--box__input input {
    grid-area: input-captcha;
    font-size: 2.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    height: 3.6rem;
    border-radius: 25px 0 0 25px;
    padding-left: 1.6rem;
}

.d--modal .captcha--box__input button {
    grid-area: submit-data;
    height: 3.6rem;
    background-color: var(--select_file_bg);
    color: var(--nav_color);
    font-weight: bold;
    font-size: 2rem;
    border: none;
    border-radius: 0 25px 25px 0;
}

.d--modal .captcha--box__input button:active,
.d--modal .captcha--box__input button:hover {
    filter: brightness(var(--add_stock_input_bright));
}

.d--modal .captcha--box__input button:active {
    transform: scale(.99);
}

.d--modal .captcha--state {
    margin-top: 15px;
    color: var(--form_error_color);
    text-align: center;
    font-weight: bold;
    display: none;
}

.d--modal .captcha--state.success {
    color: var(--button_signup_color_layer);
}

.d--modal .plain_panel > .close__dialog {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.d--modal .captcha--box__display button:focus,
.d--modal .captcha--box__input button:focus,
.d--modal .captcha--box__input input:focus {
    border: 3px #3e70a0 solid;
    outline: 3px #3e70a0 solid;
}


.auxiliar--icon {
    display: none;
}


/* Filter Dialog */

.d--modal.filter--modal > .plain_panel > .section__description {
    overflow: auto;
    height: 50vh;
}

.d--modal.filter--modal > .plain_panel > #filter_close--button,
.d--modal.filter--modal > .plain_panel > .section__description #filter_end--button {
    border: none;
    border-radius: 25px;
    width: min-content;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
    flex-direction: column;
    background-color: var(--fiter--button_bg);
    color: var(--delete_endButton_color);
}

.d--modal.filter--modal > .plain_panel > #filter_close--button {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: var(--button_close_color_layer);
    color: var(--nav_color);
    font-size: 1.5rem;
}

.d--modal.filter--modal > .plain_panel  button:hover {
    filter: brightness(var(--bright_button))
}

.d--modal.filter--modal > .plain_panel button:active {
    transform: scale(.8);
}

.form--filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form--filter fieldset {
    display: flex;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: sans-serif, Helvetica, Arial;
    flex-direction: column;
}

.form--filter fieldset legend {
    font-weight: bolder;
}


.form--filter fieldset input[type="checkbox"] {
    margin-bottom: 10px;
}

.form--filter fieldset .subtitle--fieldset {
    font-weight: bold;
    margin-top: 5px;
}


@media screen and (max-width: 1170px) {
    /* HEADER */
    nav > ul {
        font-size: x-large;
    }
    
    nav > ul > li {
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        margin-left: 1%;
    }

    /* Add Stock */
    .modal__addStock > .plain_panel > .section__title {
        display: none;
    }

    .modal__addStock > .plain_panel {
        flex-direction: column;
    }

    .form__addStock-content {
        min-height: 330px;
    }

    .form__addStock-content .button__model {
        min-width: 100px;
        min-height: 100px;
        height: 100px;
        width: 100px;
        font-size: x-large;
    }

    #form__stock-add {
        overflow: auto;
    }

    #form__stock-add .upload-file__interfaz {
        grid-template-columns: 1fr 4fr;
    }

    #form__stock-add .upload-file__interfaz .upload-file__button-load span:first-child {
        font-size: x-large;
    }

    #form__stock-add .upload-file__interfaz .upload-file__button-load span:last-child {
        display: none;
    }
} 

@media screen and (max-width: 1030px) {
    /* HEADER */
    nav > ul {
        font-size: large;
    }

    nav > ul > .li__x--large {
        font-size: x-large;
    }

    /* Add Stock */
    .form__addStock-content .button__model {
        min-width: 75px;
        min-height: 75px;
        height: 75px;
        width: 75px;
        font-size: large;
    }

    .form__addStock-content .button__model > .button__special-arrow::after {
        font-size: 4.3rem;
    }

    .form__addStock-content .button__optional-columns {
        bottom: auto;
        left: auto;
        top: 35px;
        right: 5px;
        z-index: 2;
    }
}


@media screen and (max-width: 910px) {
    /* MAIN */
    main > section {
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
    }

    main > section > .section__title {
        margin: 0 auto;
        padding: 20px;
    }

    main > section > .section__content {
        grid-template-columns: 4fr 1fr;
        padding-top: 0;
        padding-left: 0;
    }

    main > section > .section__content > .section__description {
        margin-bottom: 50px;
    }

    main > .section__login,
    main > .section__signup {
        gap: 0;
    }

    main > .section__login > .section__content,
    main > .section__signup > .section__content {
        grid-template-columns: 1fr;
        width: 100%;
    }
    main > .section__login > .section__content > .section__description,
    main > .section__signup > .section__content > .section__description {
        margin-bottom: 0;
    }

    /* Add Stock */
    .form__addStock-content .button__model {
        bottom: 0;
        right: 0;
    }
    
}