* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%
}

p {
	font-size: 1.6rem
}

a {
    text-decoration: none;
    color: var(--nav_color);
}

li {
    list-style: none;
    color: var(--nav_color);
}

body {
    display: grid;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    /* max-height: 100%; */
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px minmax(calc(100% - 97px), 1fr) 37px;
}

header {
    grid-area: header;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 60px;
    padding-left: 20px;
	padding-right: 20px;
	gap: 20px;
    position: relative;
}

header > .bg_navbar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    transition: .5s;
    pointer-events: none;
}

header > label {
    display: flex;
    width: 36px;
    align-items: center;
    order: 1;
}

header > label > .active-hide {
    display: flex;
    width: 3.6rem;
    height: 3.6rem;
    justify-content: center;
    align-items: center;
}

header .icon-eye, 
header .icon-eye-blocked,
header .icon-contrast {
    color: var(--nav_color);
    font-size: 3.6rem;
}

header .icon-contrast {
    font-size: 3rem;
}


#changeColorTheme, 
#display_nav,
#howToUse,
#contactMe,
#addStockCheck {
    display: none;
}

.icon-eye-blocked,
#display_nav:checked ~ header > nav,
#display_nav:checked ~ header > label > span.icon-eye {
    visibility: hidden;
}

header .active-hide {
    position: absolute;
}

#display_nav:checked ~ header > .bg_navbar {
    transform: scale(0.01, 0.01);
    visibility: hidden;
}

#display_nav:checked ~ footer {
    transform: scaleY(0);
    opacity: 0;
}

#display_nav:checked ~ header > label > .active-hide > .icon-eye-blocked {
    visibility: visible;
}

#display_nav:checked ~ header > label > .active-hide {
    visibility: visible;
    background-color: var(--nav_bg_color);
    box-shadow: 0px 0px var(--nav_blur_weight) 8px var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    border-radius: 50%;
}

nav {
    display: flex;
    position: static;
    padding: 0px;
    width: 100%;
    height: 100%;
}

nav > ul {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
}

nav > ul > li {
    display: flex;
    margin-left: 20px;
    padding: 3px 10px;
}

nav > ul > li> a:hover,
nav > ul > li:hover,
header label:hover > .icon-eye,
header .active-hide:hover .icon-eye-blocked,
header .active-hide:hover .icon-contrast {
    color: var(--nav_color_hover);
}

header label:hover > .icon-eye,
header .active-hide:hover .icon-eye-blocked,
header .active-hide:hover .icon-contrast {
    animation: swing-color 1.5s ease infinite;
    animation-direction: alternate-reverse;
}

@keyframes swing-color {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(0deg);
        color: var(--interactive-icon_hover);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 20px 20px;
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    position: relative;
    z-index: 0;
}

main > section {
    display: grid;
    height: 90%;
    width: 95%;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 100%;
    gap: 3%;
}

.section__title {
    font-size: 4.6rem;
    font-weight: 600;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--nav_color);
    align-self: center;
}

.section__content {
    display: grid;
    padding-top: 30px;
    padding-left: 15px;
    justify-items: center;
}


.section__login .div__login--errors,
.section__signup .div__signup--errors {
    position: absolute;
    top: -75px;
    left: 10%;
    width: 80%;
    height: 100px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 50px 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: sans-serif, Arial, Helvetica;
    color: var(--form_error_color);
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section__login .div__login--errors::-webkit-scrollbar,
.section__signup .div__signup--errors::-webkit-scrollbar {
    display: none;
}

.section__login .div__login--errors > ul.errorlist,
.section__signup .div__signup--errors > ul.errorlist {
    height: 100%;
}
.section__login .div__login--errors ul.errorlist > li,
.section__signup .div__signup--errors ul.errorlist > li {
    list-style: square;
    margin-left: 20px;
    color: var(--form_error_color);
}

.section__login .div__login--errors ul.errorlist > li li,
.section__signup .div__signup--errors ul.errorlist > li li {
    list-style: disc;
    color: var(--text_color);
}


.section__login .section__content,
.section__signup .section__content {
    padding: 0;
}

.section__login > .section__title,
.section__signup > .section__title {
    justify-self: center;
}

p, form > label {
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--text_color);
    text-align: justify;
}

.section__login .section__description,
.section__signup .section__description {
    border-radius: 50px 0;
    display: flex;
    flex-direction: row;
    height: 80%;
    padding: 30px;
    position: relative;
}

.section__login .center-button,
.section__signup .center-button {
    width: 50%;
    align-items: center;
}

.section__login .input__effect,
.section__signup .input__effect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 2px solid var(--nav_color);
    transition: all 1.5s;
}

.section__login label:hover > .input__effect,
.section__signup label:hover > .input__effect {
    transform: scaleX(0.5);
}

.section__login .section__description > form,
.section__signup .section__description > form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    padding: 20px;
}

.section__login .section__description > form input,
.section__login .section__description > form input:active,
.section__login .section__description > form input:focus,
.section__signup .section__description > form input,
.section__signup .section__description > form input:active,
.section__signup .section__description > form input:focus {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    min-height: 2.4rem;
    height: 100%;
}



input:-webkit-autofill:hover, 
.section__login .section__description > form input::placeholder,
.section__login .section__description > form input:not(:focus),
.section__login .section__description > form input:focus,
.section__signup .section__description > form input::placeholder,
.section__signup .section__description > form input:not(:focus),
.section__signup .section__description > form input:focus {
    font-size: 2.4rem;
    font-weight: normal;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--nav_color_hover);
    text-align: center;
}

.section__login .section__description > form input:not(:focus),
.section__login .section__description > form input:focus,
.section__signup .section__description > form input:not(:focus),
.section__signup .section__description > form input:focus {
    color: var(--nav_color);
}

.section__login .section__description > form input:active,
.section__signup .section__description > form input:active {
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--modal_blur_weight));
    border-radius: 20px;
}


.section__login .section__description > form input:-webkit-autofill,
.section__signup .section__description > form input:-webkit-autofill,
.section__signup .section__description > form input:-webkit-autofill:focus,
.section__signup .section__description > form input:-webkit-autofill:not(:focus),
.section__login .section__description > form input:-webkit-autofill:focus,
.section__login .section__description > form input:-webkit-autofill:not(:focus),
.section__signup .section__description > form input:-webkit-autofill:active,
.section__login .section__description > form input:-webkit-autofill:active {
    border-radius: 20px;
    font-size: 2.4rem;
}

.section__signup .section__description > form input:-webkit-autofill ~ .input__effect,
.section__login .section__description > form input:-webkit-autofill ~ .input__effect {
    display: none;
}

.section__login .section__description > form label,
.section__signup .section__description > form label {
    padding: 0;
    position: relative;
}

.section__description {
    display: flex;
    padding: 18px;
    border-radius: 50px;
    backdrop-filter: grayscale();
    max-width: 700px;
    align-self: center;
    width: 90%;
}

.center-button {
    max-width: 700px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.button__model > .button__hide-icon {
    font-size: 4.6rem;
    visibility: hidden;
    position: absolute;
}

.button__model {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 50%;
    background-color: var(--nav_color);
    color: var(--text_color_button);
    font-size: 2.6rem;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
    box-shadow: -6px 6px var(--button_shadow);
    position: relative;
}

.button__model:hover {
    background-color: var(--text_color_button);
    color: var(--nav_color);
    border: 2px solid var(--nav_color);
}

.button__model:hover > .button__hide-icon {
    visibility: visible;
}

.button__model:hover > .button__text {
    visibility: hidden;
}

.button__model:active {
    filter: brightness(var(--bright_button));
    transform: translate(-2px, 2px);
    box-shadow: -2px 2px var(--button_shadow_hover);
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    place-items: center;
    background-color: var(--nav_bg_color);
    color: var(--nav_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    font-size: 1.6rem;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
    transition: all 1.5s;
}

footer > time {
    font-size: 3.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: shadowTime 3s ease-in-out;
    animation-delay: 2s;
}

@keyframes shadowTime {
    0%, 100% {
        filter: drop-shadow(0px 0px 10px var(--date_shadow));
    }
    50% {
        filter: drop-shadow(80px 0px 0px var(--date_shadow));
    }

}

footer > ul {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
}

footer > ul > li {
    padding-left: 40px;
    display: flex;
}

footer > ul > li:hover > label {
    animation: expandToUp .7s ease-in-out infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes expandToUp {
    100% {
        transform: scale(1.2) translateY(-20%)
    }
}

.modal {
    height: 100%;
    width: 100%;
    background-color: var(--modal_bg_color);
    backdrop-filter: brightness(var(--bright_modal)) blur(var(--modal_blur_weight));
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal .close_panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}

.modal > .plain_panel {
    height: 80%;
    width: 80%;
    background-color: var(--plain-panel_bg_color);
    color: var(--nav_color);
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px var(--button_shadow_hover);
    padding: 15px 20px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.modal > .plain_panel > .section__title {
    font-size: 4.6rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 18px;
}

.modal > .plain_panel > .section__description > p {
    margin-bottom: 9px;
}

.modal > .plain_panel > .section__description > p:last-child {
    margin-bottom: 0;
}

.modal > .plain_panel > .section__description {
    height: auto;
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior-y: contain;
    border-radius: 0;
    flex-direction: column;
}

.modal > .plain_panel > .section__description::-webkit-scrollbar {
    display: none;
}
  

.modal > .plain_panel > .button_box {
    width: 100%;
    height: 45%;
    position: relative;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_box > .interactive-buttons {
    width: 100%;
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.modal > .plain_panel .modal__close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    display: inline-flex;
    align-items: center;
    box-shadow: -3px 3px var(--button_shadow);
}

.modal > .plain_panel .modal__close-button:active {
    box-shadow: -1px 1px var(--button_shadow_hover);
}

.icon-close::after {
    content: "X";
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
}

.modal > .plain_panel .modal__close-button > .button__hide-icon {
    font-size: 2.6rem;
}

.button__model .button__color-layer,
.button__model .button__color-layer > a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.button__color-layer ~ .button__hide-icon {
    z-index: 1;
}

.button__model .button__color-layer > a {
    display: block;
    position: relative;
}

.button__guests .button__color-layer {
    background-color: var(--button_guests_color_layer);
}

.button__signup .button__color-layer {
    background-color: var(--button_signup_color_layer);
}

.button__login .button__color-layer {
    background-color: var(--button_login_color_layer);
}

.modal__close-button .button__color-layer {
    background-color: var(--button_close_color_layer);
}

#howToUse:not(:checked) ~ .modal__howToUse .button__model:hover >.button__hide-icon,
#contactMe:not(:checked) ~ .modal__contactMe .button__model:hover >.button__hide-icon,
#addStockCheck:not(:checked) ~ .modal__addStock .button__model:hover >.button__hide-icon {
    visibility: hidden;
}

#howToUse:checked ~ .modal__howToUse,
#contactMe:checked ~ .modal__contactMe,
#addStockCheck:checked ~ .modal__addStock  {
    visibility: visible;
}

.success_level {
    background-color: var(--popup_success-message_bg_color);
}

.info_level {
    background-color: var(--popup_info-message_bg_color);
}


#closePopUp,
#closePopUp:checked ~ .popup_message {
    display: none;
}

.popup_message {
    color: var(--nav_color);
    position: absolute;
    top: calc(50% - 25px);
    left: 5%;
    width: 90%;
    height: 50px;
    border-radius: 20px;
    font-size: 2.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: RiseAndFade 7s ease-in;
    animation-fill-mode: forwards;
    z-index: 2;
}

.popup__span {
    font-weight: bold;
}

.popup_close_button::after {
    content: "X";
    font-size: 2.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bolder;
    position: absolute;
    right: 1%;
    bottom: 23%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav_color);
    color: var(--text_color_button);
}

@keyframes RiseAndFade {
    0% {
        top: calc(50% - 25px);
    }
    20% {
        top: -25px;
        opacity: 1;
    }
    98% {
        visibility: visible;
        opacity: 0;
        top: -25px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        top: -25px;
    }
}


.nav__post-login > ul {
	justify-content: start;
}

.li__user-button {
    order: -1;
    margin-left: 0;
    border: 2px solid var(--nav_color);
    border-radius: 20px;
    user-select: none;
    position: relative;
}

.li__created-stocks {
    user-select: none;
    position: relative;
}

.li__user-button:hover {
    border: 2px solid var(--interactive-icon_hover);
    animation: light-color 1.5s ease;
    animation-fill-mode: forwards;
}

@keyframes light-color {
    100% {
        color: var(--interactive-icon_hover);
    }
}

.li__user-button:hover > .icon-user {
    animation: swing-color 1.5s ease infinite;
    animation-direction: alternate-reverse;
}

.submenu__triangle-draw {
    visibility: collapse;
    opacity: 0;
    position: absolute;
    left: 46%;
    top: 111%;
    width: 15px;
    height: 15px;
    background-color: var(--plain-panel_bg_color);
    box-shadow: inset 0px 0px 5px var(--button_shadow_hover);
    border-radius: 5px;
    transform: rotate(45deg) translateY(20px);
    transition: 00ms all ease-in;
    transition-delay: .7s;
}

.ul__user-options,
.ul__stocks {
    visibility: collapse;
    opacity: 0;
    position: absolute;
    top: calc(100% + 10px);
    z-index: 1;
    background-color: var(--plain-panel_bg_color);
    box-shadow: inset 0px 0px 11px var(--button_shadow_hover);
    border-radius: 20px;
    padding: 10px 10px;
    transition: .7s all;
}

.ul__stocks {
    left: 10%;
    right: 10%;
}

.ul__user-options > .li__user-option,
.ul__stocks > .li__stock {
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.ul__stocks > .li__stock {
    white-space: break-spaces;
    text-align: center;
}

.ul__user-options > .li__user-option:last-child,
.ul__stocks > .li__stock:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.ul__user-options > .li__user-option:hover > a,
.ul__stocks > .li__stock:hover > a {
    color: var(--nav_color_hover);
    width: 100%;
    height: 100%;
    text-align: center;
}

.ul__user-button:hover,
.submenu__triangle-draw:hover,
.li__user-button:hover > .ul__user-options,
.li__user-button:hover > .submenu__triangle-draw,
.ul__created-stocks:hover,
.li__created-stocks:hover > .ul__stocks,
.li__created-stocks:hover > .submenu__triangle-draw {
    visibility: visible;
    opacity: 1;
}

.li__user-button:hover > .submenu__triangle-draw,
.li__created-stocks:hover > .submenu__triangle-draw {
    transform: rotate(45deg) translateY(0);
}

.li__user-button:not(:hover) > .submenu__triangle-draw,
.li__created-stocks:not(:hover) > .submenu__triangle-draw {
    transition: all .7s step-start;
}

.container__stocks {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.section__content.post_login {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.section__content.post_login > .stock-card {
    background-color: var(--modal_bg_color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    contain: content;
}

.section__content.post_login > .stock-card > .stock-card__image {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}

.section__content.post_login > .stock-card > .stock-card__name {
    position: absolute;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bolder;
    font-size: 4.6rem;
    mix-blend-mode: hard-light;
}

.section__content.post_login > .stock-card > .stock-card__name {
    position: absolute;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bolder;
    font-size: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--stock-card__color);
    background-color: var(--modal_bg_color);
    mix-blend-mode: revert;
    backdrop-filter: brightness(var(--bright_modal)) blur(var(--modal_blur_weight));
    user-select:none;
}

.section__content.post_login > .stock-card > .stock-card__name:hover {
    backdrop-filter: brightness(1.2) blur(0);
    color: transparent;
    user-select: none;
}

.add_stock {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--add_button__color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--nav_color);
    top: -23px;
    border: 3px solid var(--nav_color);
}

.add_stock::after {
    content: "+";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.6rem;
    font-weight: bolder;
}

.add_stock:hover {
    filter: brightness(var(--bright_button));
}

.add_stock:active {
    transform: scale(0.8);
}

/* sección de formulario addición */
.modal__addStock > .plain_panel {
    flex-direction: row;
}

.modal__addStock > .plain_panel > .section__title,
.modal__addStock > .plain_panel > .section__description {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
}

.modal__addStock > .plain_panel > .section__title {
    width: 30%;
    text-align: center;
    font-size: 6.6rem;
}

.modal__addStock > .plain_panel > .section__description {
    height: 100%;
    width: 80%;
    flex-direction: row;
    justify-content: center;
}

.form__addStock-content {
    height: 100%;
    width: 90%;
    background-color: var(--add_stock_modal_bg);
    border: 5px inset var(--add_stock_modal_bg);
    border-radius: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    position: relative;
}

#form__stock-add {
    position: relative;
    width: 100%;
    height: 100%;
}

#form__stock-add label {
    align-self: end;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 2.6rem;
}

#form__stock-add input[type="text"] {
    border-radius: 7px;
    font-size: 2.6rem;
    padding-left: 20px;
    width: 60%;
    height: 4rem;
    outline: none;
    border: none;
    font-weight: normal;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--add_stock_input_text);
    background-color: var(--add_stock_input_bg);
    margin-left: 50px;
}

#form__stock-add input[type="text"]::placeholder {
    font-weight: normal;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--nav_color_hover);
}

#form__stock-add input[type="text"]:hover,
#form__stock-add input[type="text"]:focus,
#form__stock-add input[type="text"]:active {
    filter: brightness(var(--add_stock_input_bright));
}

#form__stock-add input[type="text"]:focus,
#form__stock-add input[type="text"]:active {
    border: 1px solid var(--nav_color);
}


#form__stock-add input[type="file"] {
    display: none;
}

#form__stock-add .upload-file__interfaz {
    margin-left: 50px;
    border-radius: 10px;
    height: 4rem;
    width: 60%;
    display: grid;
    grid-template-columns: 43% 57%;
}

#form__stock-add .upload-file__interfaz .upload-file__button-load {
    padding: 9px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--select_file_bg);
    border-radius: 10px 0 0 10px;
    font-size: 1.6rem;
    gap: 5px;
}

#form__stock-add .upload-file__interfaz .upload-file__button-load:hover,
#form__stock-add .upload-file__interfaz .upload-file__button-load:hover ~ .upload-file__filename {
    filter: brightness(var(--add_stock_input_bright));
}

#form__stock-add .upload-file__filename {
    width: 100%;
    background-color: var(--add_stock_input_bg);
    border-radius: 0 10px 10px 0;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: normal;
    font-size: 1.6rem;
    contain: content;
    overflow: hidden;
    line-height: 4rem;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
}

#form__stock-add > .form__first_step,
#form__stock-add > .form__second_step {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.collapse {
    visibility: collapse;
}

.errors-content {
    position: absolute;
    width: 30%;
    height: 100px;
    border-radius: 20px 40px;
    top: 20px;
    left: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: 1.6rem;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    color: var(--form_error_color);
    background-color: var(--nav_bg_color);
    backdrop-filter: blur(var(--nav_blur_weight));
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errors-content::-webkit-scrollbar {
    display: none;
}

.errors-content > ul {
    height: 100%;
}

.errors-content > ul > li {
    list-style: square;
    margin-left: 20px;
    color: var(--form_error_color);
}

.errors-content > ul > li li {
    list-style: disc;
    margin-left: 20px;
    color: var(--text_color);
}

.errors-content > ul > li li:last-child {
    margin-bottom: 10px;
}

.form__addStock-content .button__model {
    min-width: 150px;
    min-height: 150px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.form__addStock-content .button__model .button__color-layer {
    background-color: var(--button_addStock_color_layer);
}

