{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
    {{ stock.name | capfirst }}
{% endblock title %}

{% block content %}

    {% if mode == 0 %}
        <button onclick="window.alert('hola')" class="filter--button" title="Filtrar productos" tabindex="1">
            <span class="icon-mug"></span>&nbsp;Filtrar productos
        </button>
    {% endif %}


    {% if mode == 1 %}
        {% if request.user.username == "Invitados" %}
            <div class="edit-button_box">
                <button onclick="window.alert('Opción inhabilitada para invitados. Registrese para probar.')" class="import-img--button" title="Importar/Actualizar imagenes" tabindex="1">
                    <span class="principal--text">Importar/Actualizar imagenes</span>
                    <span class="auxiliar--icon icon-images"></span>
                </button>
                <button onclick="window.alert('Opción inhabilitada para invitados. Registrese para probar.')" class="edit--button" title="Guardar edición" tabindex="1">
                    <span class="principal--text">Guardar cambios</span>
                    <span class="auxiliar--icon icon-pencil2"></span>
                </button>
            </div>
        {% else %}
            <div class="edit-button_box">
                <button onclick="showDialogImportImages()" class="import-img--button" title="Importar/Actualizar imagenes" tabindex="1">
                    <span class="principal--text">Importar/Actualizar imagenes</span>
                    <span class="auxiliar--icon icon-images"></span>
                </button>
                <button onclick="saveItems()" class="edit--button" title="Guardar edición" tabindex="1">
                    <span class="principal--text">Guardar cambios</span>
                    <span class="auxiliar--icon icon-pencil2"></span>
                </button>
            </div>
        {% endif %}
    {% endif %}

    {% if mode == 2 %}
        {% if request.user.username == "Invitados" %}
            <button onclick="window.alert('Opción inhabilitada para invitados. Registrese para probar.')" class="delete--button" title="Guardar edición" tabindex="1">
                Eliminar&nbsp;<span class="delete--counter">0</span>&nbsp;productos
            </button>
        {% else %}
            <button onclick="deleteItems()" class="delete--button" title="Guardar edición" tabindex="1">
                Eliminar&nbsp;<span class="delete--counter">0</span>&nbsp;productos
            </button>
        {% endif %}
    {% endif %}

    <div class="content-table">
        <table>
            <thead>
                <tr>
                    {% if mode == 2 %}
                        <th>ELIMINAR</th>
                    {% endif %}
                    <th>Imagen</th>
                    <th>{{ stock.name_column }}</th>
                    <th>{{ stock.price_column }}</th>
                    <th>{{ stock.quantity_column }}</th>
                    <th>Disponible</th>
                    {% if stock.category_column %}
                        <th>{{ stock.category_column }}</th>
                    {% endif %}
                    <th>{{ stock.added_date_column }}</th>
                    <th>{{ stock.updated_date_column }}</th>
                    {% if stock.additional_column %}
                        {% for additional_column_name in stock.additional_column_as_list %}
                            <th>{{ additional_column_name }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        {% if mode == 1 %}
                            <input type="hidden" value="{{ product.pk }}">
                        {% endif %}
                        {% if mode == 2 %}
                                <td class="product--check-delete">
                                    <label for="item-{{ product.pk }}">
                                        <input type="checkbox" id="item-{{ product.pk }}" class="delete--item">
                                    </label>
                                </td>
                        {% endif %}
                        <td class="product--img">
                            {% if product.image %}
                                <img width="400px" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% endif %}
                        </td>
                        <td class="product--name" {% if mode == 1 %}contenteditable{% endif %}>{{ product.name }}</td>
                        <td class="product--price" {% if mode == 1 %}contenteditable{% endif %}>{{ product.price | floatformat:2 }}</td>
                        <td class="product--quantity" {% if mode == 1 %}contenteditable{% endif %}>{{ product.quantity }}</td>
                        <td class="{{ product.available | yesno:'available,noavailable' }} product--available">
                            {{ product.available | yesno:"✓,X" }}
                        </td>
                        {% if stock.category_column %}
                            <td class="product--category" {% if mode == 1 %}contenteditable{% endif %}>{{ product.category }}</td>
                        {% endif %}
                        <td>{{ product.added_date }}</td>
                        <td>{{ product.updated_date }}</td>
                        {% if stock.additional_column %}
                            {% for additional_value in product.additional_as_list %}
                                <td>{{ additional_value | default:"-" }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if request.user.username != "Invitados" %}
        <dialog class="d--modal">
            <section class="plain_panel">
                <h2 class="section__title">Importar/Actualizar Imagenes</h2>
                <section class="section__description" tabindex="1">
                    <p>Para importar o actualizar imagenes, sus imagenes deben tener <strong>el mismo nombre que el producto.</strong></p>
                    <p>Se dispone de dos opciones, cargar un archivo zip con las imagenes ó cargar las imagenes directamente.</p>
                    <p>Las imagenes con nombres incorrectos seran ignoradas.</p>
                    <div class="button--container">
                        <button onclick="uploadZip()" class="upload__import">
                            <span class='icon-file-zip'></span>
                            &nbsp;Importar Zip
                        </button>
                        <button onclick="uploadImages()" class="upload__import">
                            <span class='icon-images'></span>
                            &nbsp;Importar Imagenes
                        </button>
                        <button class="close__dialog">Cerrar</button>
                    </div>
                </section>
            </section>
            <form id="form--import_images" action="{% url 'stock:importProductImages' stock.name %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form_import_images %}
                    {{ field }}
                {% endfor %}
            </form>
        </dialog>
    {% endif %}

    {% if mode == 0 %}
        <dialog class="d--modal">
            <section class="plain_panel">
                <h2 class="section__title">Filtrar Productos</h2>
                <section class="section__description" tabindex="1">
                    <p>Los productos filtrados son solo para visualización.</p>
                    <p>Al actualizar la pagina se visualizaran todos los productos como es usual.</p>
                    <div class="button--container">
                        {% comment %} aqui van cosas {% endcomment %}
                    </div>
                </section>
            </section>
        </dialog>
    {% endif %}

{% endblock content %}

{% block scripts %}
    {% if request.user.is_authenticated %}
        {% if mode == 1 %}
            <script>const url_edit_products = "{% url 'stock:editProducts' stock.name %}";</script>
            <script src="{% static 'js/editTableStock.js' %}" async></script>
            <script src="{% static 'js/importImages.js' %}" async></script>
        {% endif %}
        {% if mode == 2 %}
            <script>const url_delete_products = "{% url 'stock:deleteProducts' stock.name %}";</script>
            <script src="{% static 'js/deleteItemTableStock.js' %}" async></script>
        {% endif %}
    {% endif %}
{% endblock scripts %}